/* Global Layout Set-up */
* {
	box-sizing: border-box
}

header {
	text-align: left;
	background: #333333;
  	color: orange;
  	width: 100%;
	overflow: hidden;
	padding-top: 5px;
  	padding-left: 20px;
  }

body {
	margin: 0;
	padding: 0;
	text-align: left;
	font-family: Roboto, sans-serif;
	color: #222;
	background: #fff
}



h2 {
	text-align: left;
	padding-top: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
	width: 70%;
}
.container1{
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	width: 70%;
}
.container2{
	float:right;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	width: 30%;
}


.textcolor {
	color: orange;
}

footer {
	text-align: center;
	background: #333333;
	color:#d9d9d9;
	width: 100%;
	overflow: hidden;
	padding-top: 5px;
	padding-left: 20px;
}



/* Link Styles */


ul {
  list-style: none;
}

li {
    color: orange;
    text-decoration: none;
}
  
img {
	float: left;
  	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}



/* Substring Matching Attribute Selectors ----*/



/* Styles for larger screens ----*/
@media screen and (min-width: 720px) {

}