.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100px 550px 100px;
   }

header{
    grid-column-start: 1;
    grid-column-end: 3;
}   

footer{
    grid-column-start: 1;
    grid-column-end: 3;
}   

img{
    float:left;
    padding-right: 10px;
}    
