* {
  box-sizing: border-box;
}

h1{
    font-size: 50px;
    margin: 15px;
}



body {
	
	font-family:  sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
.container > * {
  
  text-shadow: 0 2px 0 rgba(110,133,156,0.12);
  padding: 0.85em;
  border: solid 1px rgba(110,133,156,0.15);
}
.main-header{
  background-color: black;
  color: #e8853e;
  margin-left: 5px;
}
nav {
  background-color: #fbaea8;
}
main {
  background-color: whitesmoke;  
}
aside {
  background-color: lightgrey; 
}

aside>h2{
  border-bottom: 2px;
  border-bottom-color: grey;
  border-bottom-style: solid;
  border-bottom-width: 10;
  margin-left: 5px;
  padding: 10px;

}

aside p {
padding: 10px;
}

.main-footer {
  background-color: black;
  color: grey;
  text-align:center;
  font-size: 20px;
  margin: 0;
  padding: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a{
  color: #e8853e;
  text-decoration:none;
  }

  li{
    list-style-type: none;
    line-height: 1.5em;
    padding: 0px;
    margin-left: 15px;
}        